[user]
	email = k0ma@utam0k.jp
	name = utam0k
[core]
	excludesfile = ~/.gitignore.global*
	editor = nvim
[alias]
	amend = commit --amend -v
	c = commit -v
	co = checkout
	b = checkout -b
	f = fetch --prune
	ready = rebase -i @{u}
	s = status
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
[ghq]
    root = ~/ghq
