[user]
	email = k0ma@utam0k.jp
	name = utam0k
	signingkey = 14ACDDE088DF059E
[core]
	excludesFile = /home/utam0k/.gitignore_global
	editor = nvim
[alias]
	amend = commit --amend -v
	c = commit -v
	co = checkout
	b = checkout -b
	f = fetch --prune
	ready = rebase -i @{u}
	s = status
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
[ghq]
    root = ~/ghq/src
[gpg]
	program = gpg
[commit]
	gpgsign = true
