*~
zsh/history/
nvim/plugged/
tmux/*.log

Thunar/
dconf/
fcitx/
gtk-2.0/
user-dirs.dirs
user-dirs.locale
xfce4/
wireshark/
gconf/
chromium/
ibus/
opera/
mimeapps.list
Trolltech.conf
fish/fish_history
nvim/.init.vim-rplugin~
nvim/init.vim
nvim/undo/
bash/conf.bash
nvim/config.vim
nvim/.netrwhist
nvim/.cache

zsh/build/
