# export PATH="${HOME}/.cargo/bin:${PATH}"
# source ~/.cargo/env

export PYENV_ROOT=$HOME/.pyenv
export PATH=$PYENV_ROOT/bin:$PATH
eval "$(pyenv init -)"

# export GOROOT=/usr/local/go
# export GOROOT="$HOME/.go"
# export GOPATH="$HOME/go"
# export PATH=$GOPATH/bin:$GOROOT/bin:$PATH
